datasets[vision]
numpy
tensorflow
keras
wandb
torch
torchvision
lpips
pilgram2
albumentations
ruff
pre-commit
softadapt_keras @ git+https://github.com/logasja/SoftAdapt-Keras@9171ae67bbe955b9b4dfac9dbd03e40dea5ba2e2
keras3_unets @ git+https://github.com/logasja/keras3-unets@fb439680e7fbb575138dce70e9f6a71dfc5d4cdb