deepface==0.0.84
datasets
GitPython==3.1.42
keras==2.15.0
keras_cv==0.8.2
keras_unet_collection==0.1.13
nobuco==0.11.5
numpy
pytest==8.0.2
tensorflow[and-cuda]==2.15.0.post1
tensorflow-datasets==4.9.4
tensorflow-hub==0.16.1
wandb