datasets[vision]
numpy
tensorflow
keras
wandb
torch
torchvision
lpips
pilgram2
albumentations
pyiqa
ruff
pre-commit
pydot
softadapt_keras @ git+ssh://git@github.com/logasja/SoftAdapt-Keras.git
keras3_unets @ git+ssh://git@github.com/logasja/keras3-unets.git